@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global Styles */
#rooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;     
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
    
 }
 html{
    scroll-behavior: smooth;
 }

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    justify-content: center;
    align-items: center;
}
.nav-bar a{
    padding: 10px;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

.nav-bar a:hover p{
    color: #39334b;
    
}

.TopHeader{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #403862d7;
    
}
.subscrabtion-btn{
    display: none;
}
.search-Shopping{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-Shopping i{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 25px;
    font-weight: 600;
    padding: 15px;
    background-color: rgb(233, 233, 233);
    color: #3f3951;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
}
.search-Shopping i::after{
content:attr(count);
font-size: 13px;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
background-color: #ffffff;
padding: 10px;
border-radius: 100px;
top:-10px;
right: -12px;
color: rgb(57, 57, 57);
}
.search{
font-size: 16px;
font-weight: 600;
width: 50%;
padding: 10px;
border-radius: 10px;
outline: none;
border: 3px solid #5a5667;
margin-right: 100px;
transition: 0.5s ease;
}
.search:focus{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.115);
}