@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}

 html{
    scroll-behavior: smooth;
 }
.container{
   display: flex;
   justify-content: center;
   width: 90%;
   margin: auto;
   padding: 50px;
}
a{
   color: #585467;
   text-decoration: none;
}

.list{
   margin-top: 50px;
   position:sticky;
   top: 50px;
   height: auto;
   margin-right: 50px;
   padding: 10px;
   height: 100%;
}
.list ul{
   padding: 10px 0px;
   position: relative;
   list-style: none;
}
.list ul li{
   font-size: 16px;
   color: #585467;
   width: 300px;
   margin: 10px;
   cursor: pointer;
   padding: 10px 30px;
   border-radius: 10px;
   transition: 0.5s ease;
}

.list ul li.active a{
   color: #18122B;
}

.active{
   color: #18122B;
   background-color: #ededed81;
}

.list ul li:hover{
   background-color: #ededed81;
   color: #0a051a;
}

.list ul::before{
   content: '';
   position: absolute;
   width: 1.5px;
   left: 20px; 
   top: 0;
   bottom: 0;
   background-color: #ccc;
   z-index: -1;
}
.list ul li.active,
.list ul li:hover {
  background-color: #ededed81;
}
#doc_footer{
   background-image: linear-gradient(to bottom,  #8278a5,#18122B);
   background-repeat: no-repeat;
   color: white;
}

/* here i will add the style for the content */

.content{
   margin-top: 50px;
   border-left: 3px solid #939393;
   padding-left: 50px;
}

.content div{
   padding: 20px;
   margin-bottom: 50px;
}

.header{
   font-size: 30px;
}
.tip{
   margin-top: 10px;
}
.content div p{
   color: #303030;
   font-size: 18px;
}
.content ul{
   width: 90%;
   margin-top: 20px;
   margin-left: 50px;
}

.content ul li{
   margin: 10px;
}

.TopHeader{
   padding: 10px;
   width: 100%;
   display: flex;
   justify-content:space-between;
   align-items: center;
   background-color: #403862d7;
}
.nav-bar{
   width: 100%;
   display: flex;
   justify-content:flex-end;
   justify-content: center;
   align-items: center;
}
.nav-bar a{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: white;
}
.nav-bar a i{
   transform: rotate(-45deg);
   transition: 0.2s ease;
}
.nav-bar a p{
   padding: 10px;
   margin: 0px 10px;
   font-size: 16px;
   font-weight: 600;
   transition: 0.2s ease;
}
.nav-bar a:hover p, .nav-bar a:hover i{
   color: #39334b;
}
.nav-bar a:hover i{
   transform: rotate(0deg);
}

.subscrabtion-btn{
   display: flex;
   justify-content: center;
   width: 200px;
   background-color:  rgb(73, 73, 73);
   padding: 7px 15px;
   border-radius: 10px;
   cursor: pointer;
}
.subscrabtion-btn a{
   color: white;
   text-decoration: none;
}
