.main-cont-tips{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    width:90%;
    border-bottom: 1px solid;
}
.Main-QuickStart{
    width: 70%;
    border: 2px solid rgb(151, 151, 151);
    background-color: #18122B;
}

.head-mess{
    margin-bottom: 50px;

}

.Quick-tip{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    border-radius: 5px;
    margin: 70px;
}

.Quick-tip img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 1px solid rgb(83, 85, 186);
    box-shadow: 0px 0px 70px rgba(255, 255, 255, 0.242);
}

.Quick-tip p{
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    margin-right: 50px;
}